# Python
fastapi-server/venv/
**/__pycache__/
*.pyc
fastapi-server/.pytest_cache/
fastapi-server/.env

# React
react-client/node_modules/
react-client/dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log